name: Sync uv.lock on pyproject.toml and exporting requirements.txt.

on:
  pull_request:
    branches:
      - main
    paths:
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'uv.lock'
  # allow manual dispatch of this workflow
  workflow_dispatch:

jobs:
  uv-lock-management:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      # see https://docs.astral.sh/uv/guides/integration/github/#setting-up-python for more details.
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.1"

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Update lock files with latest pyproject.toml
        run: uv lock

      - name: Export requirements.txt
        run: |
          uv export --frozen --no-dev --no-editable --no-hashes --no-emit-project > requirements.txt

      - name: Commit change if needed
        run: |
          git config --global user.name "github-actions[bot]+sync-lockfile"
          git config --global user.email "github-actions[bot]+sync-lockfile@users.noreply.github.com"

          if git diff --exit-code uv.lock requirements.txt; then
            echo "skip commit as there is no change"
          else
            echo "uv.lock and/or requirements.txt are updated, commit change ..."
            git add uv.lock requirements.txt
            git commit -m "[GHA] update uv.lock and/or requirements.txt"
            git push
          fi
